body{
    
    margin: 0;    
    background-image: url("https://media.cntraveler.com/photos/6144cf745c18454812514e86/master/w_2580%2Cc_limit/Best%2520National%2520Parks%2520in%2520the%2520US_Great%2520Smoky%2520Mountains%2520National%2520Park_GettyImages-580749949.jpg");
    
}
.content {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    padding-top:30vh;
    border: 0;
    border-radius: 5px;
    font-size: 18px;   
    width: 100vw; 
    
}
#h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 80px;
    margin: 0;
    font-family: 'Snell Roundhand', Arial, sans-serif;
    font-variant: small-caps;
    font-stretch: extra-expanded;
}

.wrapper {
    width: 550px;
}
.searchBar{
   display: flex;
   width: 100%;
   border-radius: 5px;
   align-items: center;
   flex-direction: column;
}
.searchInput{    
    height:55px;
    width:100%;
    outline:none;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    padding: 10px;
}
.autoBoxRollOut{
    background: #fff;
    width: 500px;
    max-height: 280px;
    overflow-y: auto;
    border-radius: 5px;
}
.autoBoxRollOut :hover{
    background:#898989
}
::-webkit-scrollbar{
    display: none;
}
.dataResult {
    color: rgb(0, 182, 9);
    text-decoration: none;
    list-style: none;
    cursor: default;
    border-radius: 3px;
    text-decoration-color: aqua;
}

.sidebar{
    height: 100vh;
    width:0;
    top:0;
    left:0;
    z-index: 1;
    position: fixed;
}