#resourceBody{
    display: flex;
    margin: 0;    
    background-image: url("https://www.fs.usda.gov/Internet/FSE_MEDIA/stelprd3838019.jpg");
    /* width: 100vw; */
    background-size: cover;
    height: 100vh;
    width: 100vw;
    resize: 'contain';
    white-space: 50px;
    align-items: center;
    flex-direction: column;   
}

#resourceHeader{
    display: flex;
    top: 5px;
    padding-bottom: 50px;
    font-size: 30px;
    color: white;

}

.imagewidth{
    width: 400px;
    color: white; 
}

#bigDiver{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    background-color: white, 0.2;
    column-gap: 100px; 
}

.footer{
    position: absolute;
    bottom: 5px;
    color: white;
    font-size: 20px;
}

#footerFont{
    color: white;
    font-size: 50px;
    display: flex;
    padding-top: 120px;
}

